@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  /* Chart Severity Colors */
  --chart-info: #2e51b2;
  --chart-warning: #fdd34f;
  --chart-warning-emphasis: #ff7d19;
  --chart-danger: #ff3077;
  --chart-danger-emphasis: #971348;

  /* Chart Status Colors */
  --chart-success-color: #86da26;
  --chart-fail: #db2b49;

  /* Chart Radar Colors */
  --chart-radar-primary: #b51c80;
  --chart-radar-primary-rgb: 181 28 128;

  /* Chart Provider Colors */
  --chart-provider-aws: #ff9900;
  --chart-provider-azure: #00bcd4;
  --chart-provider-google: #EA4335;

  /* Chart UI Colors */
  --chart-text-secondary: #94a3b8;
  --chart-border: #475569;
  --chart-border-emphasis: #334155;
  --chart-background: #1e293b;

  /* Chart Alert Colors */
  --chart-alert-bg: #432232;
  --chart-alert-text: #f54280;
}

@layer base {
  :root {
    --chart-success: 146 80% 35%;
    --chart-fail: 339 90% 51%;
    --chart-muted: 45 93% 47%;
    --chart-critical: 336 75% 39%;
    --chart-high: 339 90% 51%;
    --chart-medium: 26 100% 55%;
    --chart-low: 46 97% 65%;
    --chart-1: 12 76% 61%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-success: 146 80% 35%;
    --chart-fail: 339 90% 51%;
    --chart-muted: 45 93% 47%;
    --chart-critical: 336 75% 39%;
    --chart-high: 339 90% 51%;
    --chart-medium: 26 100% 55%;
    --chart-low: 46 97% 65%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer utilities {
  /* Hide scrollbar */
  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .checkbox-update {
    margin-right: 0.5rem;
    background-color: var(--background);
  }
}

@layer components {
  .animate-download-icon polyline,
  .animate-download-icon line {
    animation: dropArrow 0.6s ease-out infinite;
    transform-box: fill-box;
    transform-origin: center;
  }

}

@layer base {
  /* is set to default by tailwind 4 */
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
