repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
        args: ['--unsafe']
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: no-commit-to-branch
      - id: pretty-format-json
        args: ['--autofix']

  # - repo: https://github.com/koalaman/shellcheck-precommit
  #   rev: v0.8.0
  #   hooks:
  #   -   id: shellcheck
