# Project information
site_name: Prowler Documentation
site_url: https://docs.prowler.pro/
site_description: >-
  Prowler Documentation Site

# Theme Configuration
theme:
  language: en
  logo: img/prowler-logo.png
  name: material
  favicon: img/prowler-icon.svg
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.top
  palette:
    primary: black
    accent: green

edit_uri: "https://github.com/prowler-cloud/prowler/tree/master/docs"
# Prowler OSS Repository
repo_url: https://github.com/prowler-cloud/prowler/
repo_name: prowler-cloud/prowler

nav:
  - Getting Started:
      - Overview: index.md
      - Requirements: getting-started/requirements.md
  - Tutorials:
      - Miscellaneous: tutorials/misc.md
      - Reporting: tutorials/reporting.md
      - Compliance: tutorials/compliance.md
      - Quick Inventory: tutorials/quick-inventory.md
      - Slack Integration: tutorials/integrations.md
      - Configuration File: tutorials/configuration_file.md
      - Logging: tutorials/logging.md
      - Allowlist: tutorials/allowlist.md
      - Pentesting: tutorials/pentesting.md
      - Developer Guide: developer-guide/introduction.md
      - AWS:
          - Authentication: tutorials/aws/authentication.md
          - Assume Role: tutorials/aws/role-assumption.md
          - AWS Security Hub: tutorials/aws/securityhub.md
          - AWS Organizations: tutorials/aws/organizations.md
          - AWS Regions and Partitions: tutorials/aws/regions-and-partitions.md
          - Scan Multiple AWS Accounts: tutorials/aws/multiaccount.md
          - AWS CloudShell: tutorials/aws/cloudshell.md
          - Checks v2 to v3 Mapping: tutorials/aws/v2_to_v3_checks_mapping.md
          - Tag-based Scan: tutorials/aws/tag-based-scan.md
          - Resource ARNs based Scan: tutorials/aws/resource-arn-based-scan.md
          - Boto3 Configuration: tutorials/aws/boto3-configuration.md
      - Azure:
          - Authentication: tutorials/azure/authentication.md
          - Subscriptions: tutorials/azure/subscriptions.md
      - Google Cloud:
          - Authentication: tutorials/gcp/authentication.md
  - Developer Guide:
      - Introduction: developer-guide/introduction.md
      - Audit Info: developer-guide/audit-info.md
      - Services: developer-guide/services.md
      - Checks: developer-guide/checks.md
      - Documentation: developer-guide/documentation.md
      - Compliance: developer-guide/security-compliance-framework.md
      - Outputs: developer-guide/outputs.md
      - Integrations: developer-guide/integrations.md
      - Testing:
          - Unit Tests: developer-guide/unit-testing.md
          - Integration Tests: developer-guide/integration-testing.md
  - Security: security.md
  - Contact Us: contact.md
  - Troubleshooting: troubleshooting.md
  - About: about.md
  - ProwlerPro: https://prowler.pro
# Customization
extra:
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
  analytics:
    provider: google
    property: G-H5TFH6WJRQ
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/prowler-cloud
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/toniblyx
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/toniblyx
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/prowlercloud

# Copyright
copyright: Copyright &copy; 2022 Toni de la Fuente, Maintained by the Prowler Team at Verica, Inc.</a>

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_index: !!python/name:materialx.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
