{% for section, _ in sections.items() %}
{% for category, val in definitions.items() if category in sections[section] %}
### {{ definitions[category]['name'] }}

{% for text, values in sections[section][category].items() %}
- {{ text }}{% if values %} {{ values|join(', ') }}{% endif %}

{% endfor %}

{% endfor %}
{% endfor %}
---
{{ "\n" }}
