{% set category_order = ["added", "changed", "deprecated", "removed", "fixed", "security"] %}
{% for section, _ in sections.items() %}
{% for category in category_order if category in sections[section] %}
### {{ definitions[category]['name'] }}

{% for text, values in sections[section][category].items() %}
- {{ text }}{% if values %} {{ values|join(', ') }}{% endif %}

{% endfor %}

{% endfor %}
{% endfor %}
---
{{ "\n" }}
