name: API - Build and Push containers

on:
  push:
    branches:
      - "master"
    paths:
      - "api/**"
      - ".github/workflows/api-build-lint-push-containers.yml"

  # Uncomment the below code to test this action on PRs
  # Do not forget to set `push: false`
  pull_request:
    branches:
      - "master"
    paths:
      - "api/**"
      - ".github/workflows/api-build-lint-push-containers.yml"

  release:
    types: [published]

env:
  # Tags
  LATEST_TAG: latest
  RELEASE_TAG: ${{ github.event.release.tag_name }}

  WORKING_DIRECTORY: ./api

  # Container Registries
  PROWLERCLOUD_DOCKERHUB_REPOSITORY: prowlercloud
  PROWLERCLOUD_DOCKERHUB_IMAGE: prowler-api

jobs:
  # Build Prowler OSS container
  container-build-push:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.WORKING_DIRECTORY }}

    steps:
      - name: Repository check
        working-directory: /tmp
        run: |
          [[ ${{ github.repository }} != "prowler-cloud/prowler" ]] && echo "This action only runs for prowler-cloud/prowler"; exit 0

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push container image (latest)
        # if: github.event_name == 'push'
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: |
            ${{ env.PROWLERCLOUD_DOCKERHUB_REPOSITORY }}/${{ env.PROWLERCLOUD_DOCKERHUB_IMAGE }}:${{ env.LATEST_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push container image (release)
        # if: github.event_name == 'release'
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: |
            ${{ env.PROWLERCLOUD_DOCKERHUB_REPOSITORY }}/${{ env.PROWLERCLOUD_DOCKERHUB_IMAGE }}:${{ env.RELEASE_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
