name: find-secrets

on: pull_request

jobs:
  trufflehog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: TruffleHog OSS
        uses: trufflesecurity/trufflehog@v3.63.9
        with:
          path: ./
          base: ${{ github.event.repository.default_branch }}
          head: HEAD
