name: Prowler - PR Labeler

on:
    pull_request_target:
      branches:
        - "master"
        - "v3"
        - "v4.*"

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v5
