# This is a basic workflow to help you get started with Actions

name: Refresh regions of AWS services

on:
  schedule:
    - cron: "0 9 * * *" #runs at 09:00 UTC everyday

env:
  GITHUB_BRANCH: "master"
  AWS_REGION_DEV: us-east-1

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      pull-requests: write
      contents: write
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.GITHUB_BRANCH }}

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9 #install the python needed

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install boto3

      - name: Configure AWS Credentials -- DEV
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION_DEV }}
          role-to-assume: ${{ secrets.DEV_IAM_ROLE_ARN }}
          role-session-name: refresh-AWS-regions-dev

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: python3 util/update_aws_services_regions.py

      # Create pull request
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.PROWLER_ACCESS_TOKEN }}
          commit-message: "feat(regions_update): Update regions for AWS services."
          branch: "aws-services-regions-updated-${{ github.sha }}"
          labels: "status/waiting-for-revision, severity/low"
          title: "chore(regions_update): Changes in regions for AWS services."
          body: |
            ### Description

            This PR updates the regions for AWS services.

            ### License

            By submitting this pull request, I confirm that my contribution is made under the terms of the Apache 2.0 license.
