name: UI - Pull Request

on:
  push:
    branches:
      - "master"
      - "v5.*"
    paths:
      - "ui/**"
  pull_request:
    branches:
      - master
      - "v5.*"
    paths:
      - 'ui/**'
env:
  UI_WORKING_DIR: ./ui
  IMAGE_NAME: prowler-ui

jobs:
  test-and-coverage:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [20.x]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        working-directory: ./ui
        run: npm install
      - name: Run Healthcheck
        working-directory: ./ui
        run: npm run healthcheck
      - name: Build the application
        working-directory: ./ui
        run: npm run build
  test-container-build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Container
        uses: docker/build-push-action@v6
        with:
          context: ${{ env.UI_WORKING_DIR }}
          # Always build using `prod` target
          target: prod
          push: false
          tags: ${{ env.IMAGE_NAME }}:latest
          outputs: type=docker
          build-args: |
            NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51LwpXXXX
